aesara==2.9.4
capturer==3.0
charset_normalizer==3.4.4
checks==0.2
clr==1.0.3
cog==0.17.1
colored==2.3.2
contextlib2==21.6.0
controlnet_aux==0.0.10
cupy==14.0.1
Cython==3.2.4
diffusers==0.37.1
docutils==0.22.4
evaluate==0.4.6
flet==0.82.0
flet_audio==0.82.0
flint==0.0.1
gmpy2==2.3.0
HTMLParser==0.0.2
hypothesis==6.151.10
importlib_metadata==9.0.0
ipython==8.12.3
librosa==0.11.0
lxml==6.0.2
matchpy==0.5.5
mock==5.2.0
monotonic==1.6
mpi4py==4.1.1
mtrand==0.1
multiset==3.2.0
mypy==1.19.1
nvtx==0.2.15
onnxconverter_common==1.16.0
onnxruntime_extensions==0.15.2
onnxscript==0.6.2
opencv_contrib_python==4.13.0.90
opencv_python==4.11.0.86
optimum==2.1.0
pandas==3.0.1
parameterized==0.9.0
Pillow==12.1.1
polygraphy==0.49.26
psutil==7.2.1
py==1.11.0
py3nvml==0.2.7
pycosat==0.6.6
pydot==4.0.1
pydy==0.8.0
pygame==2.6.1
pyglet==2.1.13
PyInstaller==6.19.0
pymc==5.28.2
pymc3==3.11.6
pynput==1.8.1
pysat==3.2.2
pyserial==3.5
pytest_run_parallel==0.8.2
PyYAML==6.0.3
Requests==2.33.0
sage==0.0.0
scipy==1.17.1
scipy_doctest==2.2.0
setuptools==70.0.0
symengine==0.14.1
tensorrt==10.7.0
tensorrt_cu12==10.7.0
tf2onnx==1.17.0
theano==1.0.5
threadpoolctl==3.6.0
torch==2.6.0+cu124
torchvision==0.21.0+cu124
tqdm==4.67.3
ultralytics==8.4.7
verboselogs==1.7
wcwidth==0.6.0
